
@media(max-width: 700px){
    
    header{
        width: 100vw;
        margin: 0;
        padding: 0;
        position: relative;
        left: 0;
    }

    header .container{
        margin: 0;
        position: relative;
        left: 0;
    }

    header .container .tabs{
        left: 0;
        border-radius: 0;
        width: 100vw;
    }

    .home{
        width: 100%;
    }

    #main{
        margin: 0;
        margin-top: 50px;
        width: 100vw;
    }

    #main .card:hover{
        transform: none;
    }

    .card #content{
        font-size: 24px;
    }

    #main .card{
        width: 100%;
        box-shadow: none;
        height: calc(100vh - 75px);
        border-radius: 0;
        padding: 0;
    }

    #main .card .afirmacao{
        text-align: justify;
        padding: 5%;
        border-radius: 0;
    }

    #main .card .wrapper{
        margin-bottom: 5%;
    }

    #main .regras,
    #main .saibamais{
        margin-top: -25px;
        font-size: 25px;
    }

}


@media (max-width: 400px){
    header .container .tabs{
        font-size: 20px;
    }

    
    #main .saibamais{
        margin-left: 25px;
    }

    #main #content{
        font-size: 20px;
    }

    #main .regras,
    #main .saibamais{
        margin-top: -25px;
        font-size: 20px;
    }

    #main .saibamais{
        padding: 10px;
    }
    
}