@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
    --perfeicao-bg-color: #FAFF00;
    --prestatividade-bg-color: #C9EA02;
    --performance-bg-color: #00C767;
    --profundidade-bg-color: #33D1BE;
    --privacidade-bg-color: #00BAE3;
    --planejamento-bg-color: #174464;
    --prazer-bg-color: #3916C5;
    --poder-bg-color: #BC0568;
    --paz-bg-color: #B80016;

    --perfeicao-txt-color: #000;
    --prestatividade-txt-color: #000;
    --performance-txt-color: #000;
    --profundidade-txt-color: #000;
    --privacidade-txt-color: #000;
    --planejamento-txt-color: #fff;
    --prazer-txt-color: #fff;
    --poder-txt-color: #fff;
    --paz-txt-color: #fff;
}

*{
    margin: 0;
    padding: 0;
}

.background{
    position: absolute;
    content: '';
    width: 100vw;
    height: 100vh;
    background-image: url('./logo2.svg');
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

header{
    background-color: aqua;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-around;
    padding: 1%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

.btn{
    font-size: 36px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    padding: 0.5%;
    cursor: pointer;
}

#main{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    margin: 15%;
}

#main .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    padding: 1%;
    border-radius: 25px;
    box-shadow: 0px 10px 10px black;
    transition: 1s all;
}

#main .btn{
    position: absolute;
    bottom: 47.5%;
    padding: 2%;
}

/* #main::before{
    position: absolute;
    background-color: black;
    border: solid 1px black;
    content: "";
    top: 300px;
    width: 470px;
    height: 470px;
    border-radius: 100%;
    z-index: -10;
}

#main::after{
    position: absolute;
    background-color: white;
    border: solid 1px black;
    content: "";
    top: 310px;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    z-index: -10;
} */

#main .card:hover{
    transform: scale(1.15);
}

#main .card #enea{
    margin: 10% 0;
    text-transform: uppercase;
    text-align: center;
    width: 95%;
    font-weight: bold;
    font-size: 2em;
}

#main .card #content{
    text-align: justify;
    width: 95%;
    margin: 20%;
    font-size: 1.5em;
}
