@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
    --perfeicao-bg-color: #FAFF00;
    --prestatividade-bg-color: #C9EA02;
    --performance-bg-color: #00C767;
    --profundidade-bg-color: #33D1BE;
    --privacidade-bg-color: #00BAE3;
    --planejamento-bg-color: #174464;
    --prazer-bg-color: #3916C5;
    --poder-bg-color: #BC0568;
    --paz-bg-color: #B80016;
    --desempate-bg-color:#000;

    --perfeicao-txt-color: #000;
    --prestatividade-txt-color: #000;
    --performance-txt-color: #000;
    --profundidade-txt-color: #000;
    --privacidade-txt-color: #000;
    --planejamento-txt-color: #fff;
    --prazer-txt-color: #fff;
    --poder-txt-color: #fff;
    --paz-txt-color: #fff;
    --desempate-txt-color: #fff;

    --bg-nav-color:#ffffff;
    --bg-nav-text:#080808;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    position: absolute;
    content: '';
    width: 100vw;
    height: 100vh;
    background-image: url('./logo2.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-40deg);
    z-index: -1;
}

body{
    /* overflow: hidden; */
    background-color: rgb(202, 202, 202);
    width: 100vw;
}

/*Header*/

header{
    width: 100%;
    /* background-color: #DBDBDB; */
    /* border-bottom: solid 1px rgba(255, 255, 255, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    /* box-shadow: 0px 10px 15px #706F6F; */
    font-size: 24px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

header a{
    text-decoration: none;
}

header a:visited{
    color:inherit;
}


.tabs{
    display: flex;
    position: relative;
    background-color: var(--bg-nav-text);
    /* box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
        0 6px 12px 0 rgba(24, 94, 224, 0.15); */
    padding: 0.75rem;
    border-radius: 99px;
}

.tabs *{
    z-index: 2;
}

input[type='radio']{
    display: none;
}

.tab{
    color: var(--bg-nav-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 200px;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}

input[type='radio']:checked + label{
    color: var(--bg-nav-text);
}

input[id='radio-1']:checked ~ .glider{
    transform: translateX(0);
}

input[id='radio-2']:checked ~ .glider{
    transform: translateX(100%);
}

input[id='radio-3']:checked ~ .glider{
    transform: translateX(200%);
}

input[id='radio-4']:checked ~ .glider{
    transform: translateX(300%);
}

.glider{
    position: absolute;
    height: 54px;
    width: calc(((98%) - (0.75rem))/3);
    background: var(--bg-nav-color);
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}




.nav{
    font-size: 36px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

#main{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    margin: 100px;
}


#main .card{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 700px;
    margin-top: -50px;
    padding: 1%;
    border-radius: 25px;
    box-shadow: 0px 10px 10px black;
    transition: 1s all;
}


#main .card:hover{
    transform: scale(1.05);
}

#main .card #enea{
    margin: 10% 0;
    text-transform: uppercase;
    text-align: center;
    width: 95%;
    font-weight: bold;
    font-size: 2em;
}

.card #content{
    text-align: justify;
    width: 80%;
    height: 80%;
    /* margin-top: 30%; */
    font-size: 2em;
}

#main .card .wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#main .card .wrapper .btn{
    top: 0;
    left: 0;
    position: relative;
}

#main #content ul{
    margin-top: 10px;
    list-style-type: none;
}

#main #content ul li{
    font-size: 0.8em;
    margin-top: 25px;
    height: 200px;
    /* display: none; */
    color: white;
}

#main #content ul li:hover{
    text-decoration-line: underline;
    cursor: pointer;
}

#main h1{
    text-align: center;
}

/*Botão de INICIO*/
#main .btn{
    position: absolute;
}

#main #iniciar{
    visibility: visible;
}

#iniciar{
    left: calc(50vw - 100px);
    padding: 0;
    bottom: 45vh;
    font-family: "Roboto Condensed",Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    border: none;
    font-size: 1.5em;
    color: var(--bg-nav-text);
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    text-align: center;
    height: 50px;
    min-width: 144px;
    width: 200px;
}
#iniciar:hover{
    background: var(--bg-nav-text);
    color: var(--bg-nav-color);
    box-shadow: 
    0 0 005px var(--bg-nav-text), 
    0 0 025px var(--bg-nav-text),
    0 0 050px var(--bg-nav-text),
    0 0 200px var(--bg-nav-text);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#iniciar span{
    position: absolute;
    display: block;
}

#iniciar span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--bg-nav-text));
    animation: animate1 1s linear infinite;
}
@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

#iniciar span:nth-child(2){
    top:-100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--bg-nav-text));
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top:-100%;
    }
    50%,
    100%{
        top:100%;
    }
}

#iniciar span:nth-child(3){
    bottom:0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--bg-nav-text));
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%,
    100%{
        right: 100%;
    }
}

#iniciar span:nth-child(4){
    bottom:-100%;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--bg-nav-text));
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100%{
        bottom: 100%;
    }
}

/*Cartões de Escolha*/
#main .card .btn{
    font-family: "Roboto Condensed",Arial, Helvetica, sans-serif;
    border: none;
    font-size: 1.5em;
    color: var(--bg-nav-text);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    cursor: pointer;
}

#main .card #agree{
    color: black;
    background-color: white;
    border: solid 1px black;
    transition: 0.5s;
    padding: 2%;
}

#main .card #disagree{
    color: white;
    background-color: black;
    border: solid 1px white;
    transition: 0.5s;
    padding: 2%;
}

#main .card #agree:hover,
#main .card #disagree:hover{
    transform: scale(1.05);
}
